<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="profiler" class="com.spring.core.aop.Profiler"></bean>
    <bean id="profiler2" class="com.spring.core.aop.Profiler"></bean>
    <bean id="test" class="com.spring.core.aop.Test"></bean>
    <aop:config>
        <aop:aspect id="traceAspect" ref="profiler">
            <aop:pointcut id="publicMethod" expression="execution(public void com.spring.core.aop.Test.test())"/>
            <aop:around method="trace" pointcut-ref="publicMethod"/>
        </aop:aspect>

        <aop:aspect id="traceAspect2" ref="profiler2">
            <aop:before pointcut="execution(public * com.spring.core.aop.Test.test(..))" method="before"></aop:before>
        </aop:aspect>

        <aop:aspect id="afterReturningAspect" ref="profiler">
            <aop:after-returning method="afterReturning"
                                 pointcut="execution(public Integer com.spring.core.aop.Test.retInt())"
                                 returning="ret"/>
        </aop:aspect>

        <aop:aspect id="throwException" ref="profiler">
            <aop:after-throwing method="afterThrowing" pointcut="within(com.spring.core.aop.Test)"
                                throwing="throwable"/>
            <aop:after-throwing method="afterThrowingNull" throwing="ex" pointcut="execution(public * *(..))"/>
            <aop:after-throwing method="afterThrowingArith" throwing="ex" pointcut="execution(public * *(..))"/>
        </aop:aspect>
    </aop:config>

    <bean id="bookCacheAdvice" class="com.spring.core.aop.BookCacheAdvice">
        <property name="cache">
            <map>
                <entry key="1" value="1번 책"></entry>
            </map>
        </property>
    </bean>
    <aop:config>
        <aop:aspect id="bookService" ref="bookCacheAdvice">
            <aop:around method="cache" pointcut="execution(public String getTitle(..))"/>
        </aop:aspect>
    </aop:config>
</beans>